<a href="https://colab.research.google.com/github/koffisonV/TTP-summer-23/blob/main/Intro_to_Python_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Boolean Operators

In [2]:
is_day = True
is_night = False

print(is_day)

True

## Comparison Operators

In [3]:
x, y = 9,25
# In this line, I am defininf 2 numbers

In [4]:
print(x==y) # is x equal to y
# In this line, we are asking the computer if 9 is -> (==) 25 which returns false because those two numbers are different

False

In [5]:
print(x != y)
# In this line I am asking the computer if 9 is different -> (!=) from 25 by using the not operator (!=) which returns True

True

In [6]:
print (x > y)
# In this line, we are asking if 9 is greater than -> (>) 25 which returns false because 25 is greater than 9

False

In [7]:
print (x < y)
# In this line we are asking if 9 is less -> (<) than 25 which return True

True

## Logical operators

In [8]:
x=9
y=25
# We are declaring 2 new variables x and y

In [9]:
x

9

In [10]:
y

25

In [11]:
print(x > 5 and y < 30)
# We are using 'and' from the truth table to see if these 2 statement are
# true

True

In [12]:
print (x > 5 or y < 30)
# We are using 'or' from the truth table to see if 1 of the 2 statement
# is true

True

In [13]:
print(not(x > 5))
# In this code, we are saying that the statement if not true by wraping
# the stating in a not() format

False

In [14]:
result = 5.3 * 8.58 >= 3.23 * 15.3
print(result)
# Here, we are performing a set of operations to determine whether
# the statement is true or not

False

In [15]:
print("cat" == "cat")
# We are checking the 2 string are identical by
# using the is -> (==) operator

True

In [16]:
print("cat" is not "dog")
# In this code, we are declining that cat is not dog. Representation of is not -> (!=)

True

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-16-8872c811f075>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print("cat" is not "dog")

In [17]:
fruit = "banana"
print("na" in fruit) # checking if the characters 'na' are in the string 'banana' which is true
print("na" not in fruit) # checking if the characters 'na' are not in the string 'banana' which is false

True
False

# Collection Data Types

## List

In [18]:
names = ["Alice","Bob","Carl", "Dan"]
print(names[0])
# In this code, we are printing the element at the 0 position in the array names[]

Alice

In [19]:
print(names[0][2])
# In this code we are returing the 2nd character in the 1st element of the array names[]

i

In [20]:
print(names[-2])
# In this code, we are return the 2nd element in the array starting from the end of the array name[]

Carl

In [21]:
print(names[1:3])
# In this code, we are printing the items starting from position 1 to position 3

['Bob', 'Carl']

In [22]:
print(names[0:-1])
# Here, we are printing the element in the 1st position to the 2nd before last

['Alice', 'Bob', 'Carl']

In [23]:
print(names[0:])
# In this line, we are printing the element in the 0 position to the last since there was no 2nd parameter

['Alice', 'Bob', 'Carl', 'Dan']

In [24]:
names[1] = "Jane"
print(names)
# In this code, we're replacing the element in the 1st position 'Bob' with 'Jane

['Alice', 'Jane', 'Carl', 'Dan']

In [25]:
# Class exercise
# Ask for 10 items and store in a list

# Method 1 using split() method
list2 = [] # define an empty array
data = input("Enter 10 items of your choice: ") # user input of their choice
list2 = data.split() # split() method to
print(list2)
# The code above uses the split() method with no argument to seperate the list of items that the user input into an array.


# Method 2 using for loop
# list1=[]
# for x in range(10):
#   data = input("Enter 10 items of your choice: ")
#   list1.append(data)
# print(list1)

Enter 10 items of your choice: 1 2 3 4 5 6 7 8 9 09
['1', '2', '3', '4', '5', '6', '7', '8', '9', '09']

#### Nested Lists

In [26]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]

In [27]:
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [28]:
print(matrix[0][1])

2

In [29]:
matrix = [[[1,2],[3,4,6,4,6],[5,6],[7,8]]]
print(matrix)
print(matrix[0][1][0])

[[[1, 2], [3, 4, 6, 4, 6], [5, 6], [7, 8]]]
3

#### List Functions

In [30]:
pets = ['cat', 'dog', 'parrot']
print(len(pets))

3

In [31]:
print(pets)
pets.append('fish')
print(pets)

['cat', 'dog', 'parrot']
['cat', 'dog', 'parrot', 'fish']

In [32]:
dir(pets)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [33]:
pets.insert(1, 'hamster')
print(pets)

['cat', 'hamster', 'dog', 'parrot', 'fish']

In [34]:
print('cat' in pets)

True

In [35]:
print('tiger' in pets)

False

In [36]:
pets.remove('fish')

In [37]:
pets

['cat', 'hamster', 'dog', 'parrot']

In [38]:
pets.remove(pets[3])

In [39]:
pets

['cat', 'hamster', 'dog']

In [40]:
del pets[1]

In [41]:
pets.clear()

In [42]:
pets = None

#### Iterators

In [43]:
my_cat = "Fluffy"
my_iterator = iter(my_cat)

In [44]:
print(next(my_iterator))

F

In [45]:
print(next(my_iterator))

l

In [46]:
print(next(my_iterator))

u

## Tuples

In [47]:
dinner = ('chicken', 'fries', 18)
print(dinner)
print(type(dinner))

('chicken', 'fries', 18)
<class 'tuple'>

In [48]:
breakfast = ('eggs', )
print(breakfast)
print(type(breakfast))

('eggs',)
<class 'tuple'>

In [49]:
lunch = ()
print(lunch)
print(type(lunch))

()
<class 'tuple'>

In [50]:
my_desk = ("laptop", "mouse", "paper", "pen")
print(my_desk[1])
print(my_desk[-1])

mouse
pen

In [51]:
new_desk = my_desk[1:3]
print(new_desk)
print(type(new_desk))

('mouse', 'paper')
<class 'tuple'>

In [52]:
print(my_desk[1:])

('mouse', 'paper', 'pen')

In [53]:
my_desk = ("laptop", "mouse", "paper", "pen")
new_desk = my_desk[1:3]
print(new_desk)
print(type(new_desk))

('mouse', 'paper')
<class 'tuple'>

In [54]:
new_desk = my_desk + ("coffee", )
print(new_desk)
print(type(new_desk))

('laptop', 'mouse', 'paper', 'pen', 'coffee')
<class 'tuple'>

In [55]:
my_desk_list = list(my_desk)

#### Tuples use cases

In [56]:
db = ('Oracle', 'SQL')

In [57]:
new_db = db + ('username','password')
print(new_db)
print(type(new_db))

('Oracle', 'SQL', 'username', 'password')
<class 'tuple'>

In [58]:
friend1 = ('Alex', 25, False)
friend2 = ('Diane', 23, False)
friend3 = ('Michael', 32, True)

In [59]:
print(friend1)
print(friend2)
print(friend3)

('Alex', 25, False)
('Diane', 23, False)
('Michael', 32, True)

In [60]:
friend2 = ("Erica",) + friend2[1:]
print(friend2)
print(type(friend2))

('Erica', 23, False)
<class 'tuple'>

#### Tuple Functions

In [61]:
my_desk = ('laptop', 'mouse', 'paper', 'pen')
print(len(my_desk))

4

In [62]:
# del my_desk
print(my_desk)

('laptop', 'mouse', 'paper', 'pen')

In [63]:
digits = (3, 7, 5, 6, 3, 5, 7, 6, 3, 2, 8, 6, 3, 5)
print(digits.count(3))
print(digits.count(5))

4
3

In [64]:
print(digits.index(8))
print(digits.index(7))

10
1

## Sets

In [65]:
days = {'Mon','Tue','Wed','Thu','Fri','Tue','Tue'}
type(days)
print(days)
days = set(days)
days
type(days)

{'Wed', 'Mon', 'Thu', 'Fri', 'Tue'}

set

#### Updating Sets

In [66]:
days = {"Mon", "Tue", "Wed"}
days.add("Thu")
print(days)

{'Wed', 'Mon', 'Thu', 'Tue'}

In [67]:
days.update(['Fri', 'Sat', 'Tue'])
print(days)

{'Mon', 'Thu', 'Sat', 'Wed', 'Fri', 'Tue'}

In [68]:
days.remove('Mon')
print(days)

{'Thu', 'Sat', 'Wed', 'Fri', 'Tue'}

In [69]:
days.pop()
print(days)

{'Sat', 'Wed', 'Fri', 'Tue'}

In [70]:
days.clear()
print(days)

set()

## Dictionaries

In [71]:
my_cat = {
    'name':'Fluffy',
    'age': 2,
    'color': 'black'
} # dictionaries come in pair of values

In [72]:
type(my_cat)

dict

In [73]:
dir(my_cat)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [74]:
print(my_cat['name'])

Fluffy

In [75]:
print(my_cat.get('age'))

2

In [76]:
print(my_cat.values())

dict_values(['Fluffy', 2, 'black'])

In [77]:
print(my_cat.keys())

dict_keys(['name', 'age', 'color'])

In [78]:
my_cat

{'name': 'Fluffy', 'age': 2, 'color': 'black'}

In [79]:
print(my_cat.items())

dict_items([('name', 'Fluffy'), ('age', 2), ('color', 'black')])

In [80]:
print('name' in my_cat)

True

In [81]:
print('fluffyness' in my_cat)

False

#### Updating Dictionaries function

In [82]:
print(my_cat)
my_cat['gender'] = 'male'
print(my_cat)

{'name': 'Fluffy', 'age': 2, 'color': 'black'}
{'name': 'Fluffy', 'age': 2, 'color': 'black', 'gender': 'male'}

In [83]:
my_cat.pop('color')
print(my_cat)

{'name': 'Fluffy', 'age': 2, 'gender': 'male'}

In [84]:
my_cat.popitem() ## removes the last item in a dictionary
print(my_cat)

{'name': 'Fluffy', 'age': 2}

In [85]:
my_cat['name'] = 'Fluffer'
print(my_cat)

{'name': 'Fluffer', 'age': 2}

#### Nesting Dictionaries

In [86]:
family = {
    "child1": {
        'name': 'Alex',
        'year': 2004
    },

    'child2': {
        'name': 'Monica',
        'year': 2007
    }
}

In [87]:
family

{'child1': {'name': 'Alex', 'year': 2004},
 'child2': {'name': 'Monica', 'year': 2007}}