<a href="https://colab.research.google.com/github/koffisonV/TTP-summer-23/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Basics

## Strings and print() function

In [2]:
print ('Hi there')
# In this line I am using the print() method to print "hi there"

Hi there

In [3]:
print("There are two types of slashes: \\ and /")
# In this line, I am using the \ as an escape character reason why there is only one \ showing

There are two types of slashes: \ and /

In [4]:
print("\n\tThis is a tabbed line\nThis is a regular line")
# In this code, we add an n to \ representing a new line. It is followed by \t where "t" stands for tab. Same applies for the second
# sentence where we use \n which signals to go to a new line and "n" standing for "new"

	This is a tabbed line
This is a regular line

In [5]:
print("first name" + ' last name')
# In this line, we use the + symbol to combine "first name" and "last name" into one sentence

first name last name

## Variables

In [6]:
dogs = 3
cats = 'Many fluffy cats'
# In this part, we are defining a value by giving it a meaning or name. The meaning can be either words, sentences, or numbers.

In [7]:
cats
# In this line, we are calling the value cats which we defined ^above^, and prints it to the screen

'Many fluffy cats'

In [8]:
type(cats)
# In this line, we are using the type() function so that the computer tells us what type of information this is
# In this case, cats which we defined earlier, is a string because it is made of words.

str

In [9]:
type(dogs)
# In this line we used the type() function to tell us what this variable is made of
# The result is printed to the screen indicating that the varible dogs is made of numbers.

int

In [10]:
hi = 'Hello'
name = ' John'
print(hi + name)
# In this code, we defined 2 varibles and gave them the name hi & name. Since both varibales are made of words (string), we use the +
# symbol to combine both varibales into 1 long sentence which gives the sentence "Hello John"

Hello John

In [11]:
more_dogs = 5
# In this line, we created another varibales named more_dogs and gave it the number 5.

print(dogs + more_dogs)
# In this line, we are adding two values, dogs which we defined earlier and gave it the number 3, and more_dogs which eqauls to 5.
# By adding dogs and more_dogs, or 5 + 3, we get 8 which is printed on the screen.

8

In [12]:
price = 19.99
amount = 3
# In this line, we defined two variables price holding the price of an object and the amount of an object.

In [13]:
print(price * amount)
# We use the print function with the * sign to signal that we want to multiply both values which gives us 59.97 just like we would do with a calculator.

59.97

In [14]:
# Variable re-assignment
dogs = "New value"
print(dogs)
# In this lines, we assigned a value of number 5 to the variable dogs earlier, but now, we assign
# a new value to the variable dogs which is now a string or a short sentence that says "New value"

New value

In [15]:
cats, dogs, rabbits = 2, 5, 'cute'

print(dogs)
print(rabbits)
# In this code, we defined multiple variables and assigned their values in order. Since the variable dogs is in the second
# position and the second value assigned is the number 5, the print statement will return 5.

5
cute

## More Strings

### Indexing

In [16]:
greeting = 'Hello world!'
# In this line we created the variable greeting and assinged the value "Hello world!"

In [17]:
greeting
# In this line, we requested the computer to print the value of the variable greeting which gives us "Hello world!"

'Hello world!'

In [18]:
print(greeting[4])
# In this line, we are print the position of the character that is found in the 4th place of the short sentence "Hello world!" where o is the 4th character.

o

In [19]:
# The 3rd, the 5th, and/or the 15th
word = "This is what a full sentence looks like"
print(word[3])
print(word[5])
print(word[15])
# In this code, we followed the same example that we did above by printing the character that is found at the 3rd, 5th, and 15th place in the sentence.

s
i
f

In [20]:
len(word)
# In this line, we use the len() to print the length of a variable. In this case, the sentence ^above^ is made of 39 characters including the spaces.

39

### String Formatting

In [21]:
price = 59.99
# In this line, we created a variable names price and gave it the value 59.99

In [22]:
message = 'The product cost ' + str(price) + ' dollars'
# In this line, we created another varibale named message where we used the + symbol to add another element to the variable message.
# In this case we covered price in str to treat the variable price as a string or text instead of number because we will get an error if
# we try to add variables that are not the same.

In [23]:
message
# Once we constructed our variable in the code ^above^, we make a call for the variable message which prints the sentence
# 'The product cost 59.99 dollars'

'The product cost 59.99 dollars'

#### The .format() method!

In [24]:
msg = "The product cost {} dollars".format(price)
# In this line, we use the format method to call a variable that we don't want to type out everything we want to
# write a line like this. Instead, we replace the {} in the content of the new varible.

In [25]:
msg
# Here, we printed the content of the variable msg.

'The product cost 59.99 dollars'

In [26]:
amount = 3
total = amount * price
# In this code, we defined a new variable called amount and gave it a value of 3.
# Next, we multiply amount with the variables price which we created eariler and stored them in a new variable called total.

In [27]:
msg2 = "For {} products at the price of {}, the total will be: {}"
# In this code, we show where we want to put some varaiables in the sentence by using {}.

In [28]:
print(msg2.format(amount, price, total))
# In this line, we use the print function where we pass the format() function to msg2 by assigning the stating the values that we want to
# use like in this case, the values amount, price, and total.

For 3 products at the price of 59.99, the total will be: 179.97

In [29]:
msg3 = "For {0} products at the price of {1}, the total is: {2}"
print(msg3.format(amount, price, total))
# In this line, we are printing the same thing as the code above^, however this time, we are mentioning the order in which we want the
# computer to collect the values by putting the position of the variables in the msg3 message.

For 3 products at the price of 59.99, the total is: 179.97

#### The f-string Method!

In [30]:
price = 19.99
items = 3
# In this code, we created 2 variables named price and items

In [31]:
msg = f'This individual product is {price}'
# In this line, we us the f to say that this is a f-string where we will insert a variables later by using {}.
# This will help us maintain the structure of this varible by only changing the varible inside of {}.

In [32]:
msg
# In this line we make a call to the variable msg which prints "This individual product is 19.99"

'This individual product is 19.99'

In [33]:
msg2 = f'The total for your purchase is {price * items}'
msg2
# In this line we used the f-string format again however we passed 2 variables for multiplication
# Then call for the variable msg2 printing the text "The total for your purchase is 59.97" where 59.97 is the total after the multiplication operation.

'The total for your purchase is 59.97'

#### String functions

In [34]:
# str(), print(), len()

In [35]:
dir(msg)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [36]:
msg

'This individual product is 19.99'

In [37]:
msg = 'Hello my name is Bob'

In [38]:
words = msg.split(' ')

In [39]:
print(words)

['Hello', 'my', 'name', 'is', 'Bob']

In [40]:
elements = msg.split('b')

In [41]:
print(elements)

['Hello my name is Bo', '']

In [42]:
print(msg.upper())

HELLO MY NAME IS BOB

In [43]:
print(msg.lower())

hello my name is bob

## The input() method

In [118]:
data = input('What is yout name: ')
print(f'Hello {data}, hope your day is great!')
# In this code, I'm asking the user to enter a name of their choice. After entering the name
# I pass the name in a print statement using the f-string method

What is yout name: Chris
Hello Chris, hope your day is great!

In [119]:
print(data)
# In this line I am checking what value is stored in data

Chris

In [46]:
num = int(input('enter a number: '))
print(num)
# Here, I am asking the user to enter a number of their choice

enter a number: 3
3

In [120]:
type(num)
# In this line, I am checking what type of value is stored in num using type()

int

In [49]:
# Task: Create a script that greets a user
# Name, age, favorite hobby.
user_name = input('What is your name: ')
user_age = int(input('What is your age: ')) # Since we want the age to be as integer, we wrap the input request in a int format
user_hobby = input('What is your favorite hobby: ')
print(f"Hello guys! My name is {user_name}, I'm {user_age} years old, and my favorite hobby is {user_hobby}.")

# In this code, I'm asking the user to input their name, age, and favorite hobby.
# After receiving the input, we print a greeting message using the f-string method to facilitate the modification of the code

What is your name: bob
What is your age: 23
What is your favorite hobby: running
Hello guys! My name is bob, I'm 23 years old, and my favorite hobby is running.

## Numbers

### Conversions

In [122]:
value = 3.8
print(type(value)) # checking what type of variable is value which is float
convert = int(value)
print(convert)
print(type(convert)) # checking what type of variable is value which is integer
# In thi code, I am checking the initial type of the variable value
# After checking the type, we wrap the variable value in an integer format that we stored in a new variable called convert
# We then print the type of value stored in the variable convert returing an integer

<class 'float'>
3
<class 'int'>

In [51]:
number = int('25')
print(number)
print(type(number))
# Here, we are doing the same thing by checking what class does the variable number belongs to

25
<class 'int'>

### Operation

#### The `Modulus` Operator

#### The power operator

In [52]:
print(9**4)
# In this line of code, we are calculating 9 to the power of 4 by using the double star (**)

6561

In [53]:
2**3
# We are calculating 2 to the power of 3

8

#### The floor opertor

In [54]:
print(9 // 4)
# In this code, we are checking how many times does the number 4 goes into 9 byt using the // symbol

2

#### Assignment operators

In [55]:
x = 9

In [56]:
x += 4
print(x)
# This ia fast way of representing 9 + 4 since we defined x earlier.

13

In [123]:
x *= 3
print(x)
# This is an efficient way of calculating 9 multiplied by 3

27

In [59]:
# Task: Ask 2 number from user and perform the basic arithmetic operations
# add, subtract, multiply, division
num1 = int(input('Enter a number: ')) # ask for user to input 1st number
num2 = int(input('Enter a second number: ')) # ask user to input the 2nd number

print(f"\nAddition = {num1+num2}\nSubtraction = {num1 - num2} \nMultiplication = {num1 * num2} \nDivision = {num1/num2}")
# In this code, we are adding, subtracting, multiplying and diving two numbers that the user input.
# We print the result using the f-string method

Enter a number: 2
Enter a second number: 6

Addition = 8
Subtraction = -4
Multiplication = 12
Division = 0.3333333333333333

# Comparison operators

In [60]:
x, y = 9,25
# In this line, I am defininf 2 numbers

In [61]:
print(x==y) # is x equal to y
# In this line, we are asking the computer if 9 is -> (==) 25 which returns false because those two numbers are different

False

In [71]:
print(x != y)
# In this line I am asking the computer if 9 is different -> (!=) from 25 by using the not operator (!=) which returns True

True

In [72]:
print (x > y)
# In this line, we are asking if 9 is greater than -> (>) 25 which returns false because 25 is greater than 9

False

In [73]:
print (x < y)
# In this line we are asking if 9 is less -> (<) than 25 which return True

True

## Logical operators

In [63]:
x=9
y=25
# We are declaring 2 new variables x and y

In [64]:
x

9

In [65]:
y

25

In [66]:
print(x > 5 and y < 30)
# We are using 'and' from the truth table to see if these 2 statement are
# true

True

In [74]:
print (x > 5 or y < 30)
# We are using 'or' from the truth table to see if 1 of the 2 statement
# is true

True

In [75]:
print(not(x > 5))
# In this code, we are saying that the statement if not true by wraping
# the stating in a not() format

False

In [76]:
result = 5.3 * 8.58 >= 3.23 * 15.3
print(result)
# Here, we are performing a set of operations to determine whether
# the statement is true or not

False

In [77]:
print("cat" == "cat")
# We are checking the 2 string are identical by
# using the is -> (==) operator

True

In [78]:
print("cat" is not "dog")
# In this code, we are declining that cat is not dog. Representation of is not -> (!=)

True

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-78-5594a05aa962>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print("cat" is not "dog")

In [79]:
fruit = "banana"
print("na" in fruit) # checking if the characters 'na' are in the string 'banana' which is true
print("na" not in fruit) # checking if the characters 'na' are not in the string 'banana' which is false

True
False

# Collection Data Types

In [67]:
numbers = [3,7,5,4,7,5,6,3,3,3,3] # we created an array
print(numbers)
print(numbers[1]) # this line prints the element in the 2nd index of the array. We count positions in array starting from 0
print(numbers[-1])  # this line prints the element in the 1st index of the array. We count positions in array starting from 0

[3, 7, 5, 4, 7, 5, 6, 3, 3, 3, 3]
7
3

## List

In [126]:
names = ["Alice","Bob","Carl", "Dan"]
print(names[0])
# In this code, we are printing the element at the 0 position in the array names[]

Alice

In [128]:
print(names[0][2])
# In this code we are returing the 2nd character in the 1st element of the array names[]

i

In [131]:
print(names[-2])
# In this code, we are return the 2nd element in the array starting from the end of the array name[]

Carl

In [83]:
print(names[1:3])
# In this code, we are printing the items starting from position 1 to position 3

['Bob', 'Carol']

In [86]:
print(names[0:-1])
# Here, we are printing the element in the 1st position to the 2nd before last

['Alice', 'Bob', 'Carl']

In [134]:
print(names[0:])
# In this line, we are printing the element in the 0 position to the last since there was no 2nd parameter

['Alice', 'Bob', 'Carl', 'Dan']

In [135]:
names[1] = "Jane"
print(names)
# In this code, we're replacing the element in the 1st position 'Bob' with 'Jane

['Alice', 'Jane', 'Carl', 'Dan']

In [137]:
# Class exercise
# Ask for 10 items and store in a list

# Method 1 using split() method
list2 = [] # define an empty array
data = input("Enter 10 items of your choice: ") # user input of their choice
list2 = data.split() # split() method to
print(list2)
# The code above uses the split() method with no argument to seperate the list of items that the user input into an array.


# Method 2 using for loop
# list1=[]
# for x in range(10):
#   data = input("Enter 10 items of your choice: ")
#   list1.append(data)
# print(list1)

Enter 10 items of your choice: 1 2 3 4 5 6 7 8 9 10 11 12
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']