<a href="https://colab.research.google.com/github/koffisonV/TTP-summer-23/blob/main/Intro_to_Python_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Boolean Operators

In [ ]:
is_day = True # declaration of boolean variable to True
is_night = False # declaration of boolean variable to False

print(is_day)

True

## Comparison Operators

In [ ]:
x, y = 9,25
# In this line, I am defininf 2 numbers

In [ ]:
print(x==y) # is x equal to y
# In this line, we are asking the computer if 9 is -> (==) 25 which returns false because those two numbers are different

False

In [ ]:
print(x != y)
# In this line I am asking the computer if 9 is different -> (!=) from 25 by using the not operator (!=) which returns True

True

In [ ]:
print (x > y)
# In this line, we are asking if 9 is greater than -> (>) 25 which returns false because 25 is greater than 9

False

In [ ]:
print (x < y)
# In this line we are asking if 9 is less -> (<) than 25 which return True

True

## Logical operators

In [ ]:
x=9
y=25
# We are declaring 2 new variables x and y

In [ ]:
x

9

In [ ]:
y

25

In [ ]:
print(x > 5 and y < 30)
# We are using 'and' from the truth table to see if these 2 statement are
# true

True

In [ ]:
print (x > 5 or y < 30)
# We are using 'or' from the truth table to see if 1 of the 2 statement
# is true

True

In [ ]:
print(not(x > 5))
# In this code, we are saying that the statement if not true by wraping
# the stating in a not() format

False

In [ ]:
result = 5.3 * 8.58 >= 3.23 * 15.3
print(result)
# Here, we are performing a set of operations to determine whether
# the statement is true or not

False

In [ ]:
print("cat" == "cat")
# We are checking the 2 string are identical by
# using the is -> (==) operator

True

In [ ]:
print("cat" is not "dog")
# In this code, we are declining that cat is not dog. Representation of is not -> (!=)

True

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-16-8872c811f075>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print("cat" is not "dog")

In [ ]:
fruit = "banana"
print("na" in fruit) # checking if the characters 'na' are in the string 'banana' which is true
print("na" not in fruit) # checking if the characters 'na' are not in the string 'banana' which is false

True
False

# Collection Data Types

## List

In [ ]:
names = ["Alice","Bob","Carl", "Dan"]
print(names[0])
# In this code, we are printing the element at the 0 position in the array names[]

Alice

In [ ]:
print(names[0][2])
# In this code we are returing the 2nd character in the 1st element of the array names[]

i

In [ ]:
print(names[-2])
# In this code, we are return the 2nd element in the array starting from the end of the array name[]

Carl

In [ ]:
print(names[1:3])
# In this code, we are printing the items starting from position 1 to position 3

['Bob', 'Carl']

In [ ]:
print(names[0:-1])
# Here, we are printing the element in the 1st position to the 2nd before last

['Alice', 'Bob', 'Carl']

In [ ]:
print(names[0:])
# In this line, we are printing the element in the 0 position to the last since there was no 2nd parameter

['Alice', 'Bob', 'Carl', 'Dan']

In [ ]:
names[1] = "Jane"
print(names)
# In this code, we're replacing the element in the 1st position 'Bob' with 'Jane

['Alice', 'Jane', 'Carl', 'Dan']

In [ ]:
# Class exercise
# Ask for 10 items and store in a list

# Method 1 using split() method
list2 = [] # define an empty array
data = input("Enter 10 items of your choice: ") # user input of their choice
list2 = data.split() # split() method to
print(list2)
# The code above uses the split() method with no argument to seperate the list of items that the user input into an array.


# Method 2 using for loop
# list1=[]
# for x in range(10):
#   data = input("Enter 10 items of your choice: ")
#   list1.append(data)
# print(list1)

Enter 10 items of your choice: 1 2 3 4 5 6 7 8 9 09
['1', '2', '3', '4', '5', '6', '7', '8', '9', '09']

#### Nested Lists

In [ ]:
matrix = [[1,2,3],[4,5,6],[7,8,9]] # this array is made of multiple list

In [ ]:
print(matrix) # printing the matrix list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
print(matrix[0][1]) # here we are accessing the element at position 1 of the
# list matrix in position 0

2

In [ ]:
matrix = [[[1,2],[3,4,6,4,6],[5,6],[7,8]],[3]] # this is a nested list
print(matrix) # we are printing the whole list
print(matrix[0][1][0]) # we are accessing the first element of the second element
# in index 0 of the list matrix

[[[1, 2], [3, 4, 6, 4, 6], [5, 6], [7, 8]], [3]]
3

#### List Functions

In [ ]:
pets = ['cat', 'dog', 'parrot'] # we declared a list that has 3 items in it
print(len(pets)) # here we print the length or how many elements are in the list

3

In [ ]:
print(pets)
pets.append('fish') # we use append() to add an element to the end of the list
print(pets)
# Now instead of 3 elements, we have a list of 4 elements after adding fish

['cat', 'dog', 'parrot']
['cat', 'dog', 'parrot', 'fish']

In [ ]:
dir(pets) # this showcases what function can be used on the list pets

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
pets.insert(1, 'hamster')
print(pets)
# We are manipulating the list by adding hamster to the 1st
# position of the list

['cat', 'hamster', 'dog', 'parrot', 'fish']

In [ ]:
print('cat' in pets)
# This statement checks whether the element 'cat' is present in the list pet
# which return true

True

In [ ]:
print('tiger' in pets)
# This checks if the element 'tiger' is in list which is false

False

In [ ]:
pets.remove('fish') # the remove() is used to remove an element in the list

In [ ]:
pets # we print the list again to make sure that the
# element 'fish' is no longer in the list

['cat', 'hamster', 'dog', 'parrot']

In [ ]:
pets.remove(pets[1]) # we passed the element at the 1st indexe to remove
# it from the list

In [ ]:
pets # we print the list again to make sure that it is no
# longer in the list

['cat', 'dog', 'parrot']

In [ ]:
del pets[1] # this command delete the element at position 1 in the list pets[]

In [ ]:
pets.clear() # this clears all the element in the list

In [ ]:
pets = None

#### Iterators

In [ ]:
my_cat = "Fluffy" # we define a string variable
my_iterator = iter(my_cat) # this variable holds the next element we we run iter

In [ ]:
print(next(my_iterator)) # we are printing the first iteration of character
# in the string which is F

F

In [ ]:
print(next(my_iterator)) # we print the next iteration of element which is l

l

In [ ]:
print(next(my_iterator)) # we print the next iteration returing u

u

## Tuples

In [ ]:
dinner = ('chicken', 'fries', 18) # this is a tuple variable
print(dinner)
print(type(dinner)) # we use type() to check what type of variable this is

('chicken', 'fries', 18)
<class 'tuple'>

In [ ]:
breakfast = ('eggs', ) # a tuple can have only 1 element
print(breakfast)
print(type(breakfast))

('eggs',)
<class 'tuple'>

In [ ]:
lunch = () # this is a tuple and we distinguish it with the ()
print(lunch)
print(type(lunch))

()
<class 'tuple'>

In [ ]:
my_desk = ("laptop", "mouse", "paper", "pen")
print(my_desk[1]) # we are accessing the element at position 1 in the list
print(my_desk[-1]) # we are accessing the last element in the tuple

mouse
pen

In [ ]:
new_desk = my_desk[1:3] # we are creating a new tuple by selecting the element
# from position 1 to 3 (excluding 3)
print(new_desk) # we print the new tuple variable
print(type(new_desk)) # we check to see if the new variable is still a tuple

('mouse', 'paper')
<class 'tuple'>

In [ ]:
print(my_desk[1:]) # this command will print the list starting from index 1 to the end since
# no other element was assigned

('mouse', 'paper', 'pen')

In [ ]:
my_desk = ("laptop", "mouse", "paper", "pen")
new_desk = my_desk[1:3]
print(new_desk)
print(type(new_desk))

('mouse', 'paper')
<class 'tuple'>

In [ ]:
new_desk = my_desk + ("coffee", ) # we are adding 'coffee' to the tuple new_desk
print(new_desk)
print(type(new_desk)) # we print to see if 'coffee' is added to the tuple

('laptop', 'mouse', 'paper', 'pen', 'coffee')
<class 'tuple'>

In [ ]:
my_desk_list = list(my_desk) # this new variable turns the tuple my_desk into a list

#### Tuples use cases

In [ ]:
db = ('Oracle', 'SQL')

In [ ]:
new_db = db + ('username','password') # we are adding those 2 element to the tuple
print(new_db)
print(type(new_db))

('Oracle', 'SQL', 'username', 'password')
<class 'tuple'>

In [ ]:
friend1 = ('Alex', 25, False) # declaration of variable
friend2 = ('Diane', 23, False) # declaration of variable
friend3 = ('Michael', 32, True) # declaration of variable

In [ ]:
print(friend1)
print(friend2)
print(friend3)

('Alex', 25, False)
('Diane', 23, False)
('Michael', 32, True)

In [ ]:
friend2 = ("Erica",) + friend2[1:] # we are changing the first element
# and slice the tuple starting from position 1 to the end
print(friend2)
print(type(friend2)) # we check what type of varible is friend2

('Erica', 23, False)
<class 'tuple'>

#### Tuple Functions

In [ ]:
my_desk = ('laptop', 'mouse', 'paper', 'pen')
print(len(my_desk))

4

In [ ]:
# del my_desk
print(my_desk)
# We deleted the variable my_desk resulting in an error when we try to print my_desk

('laptop', 'mouse', 'paper', 'pen')

In [ ]:
digits = (3, 7, 5, 6, 3, 5, 7, 6, 3, 2, 8, 6, 3, 5) # we declare a new tuple called digits
print(digits.count(3)) # we count the number of iteration of the number 3
print(digits.count(5)) # we count the number of iteration of the number 5

4
3

In [ ]:
print(digits.index(8)) # this line print the first occurence of the 8 number at index 10
print(digits.index(7)) # this line print the first occurence of the 7 number at index 1

10
1

## Sets

In [ ]:
days = {'Mon','Tue','Wed','Thu','Fri','Tue','Tue'} # new declaration of a set variable
type(days)
print(days)
days = set(days)
days
type(days)
# A set only prints the different occurence of an element leaving out
# the repitive elements

{'Mon', 'Fri', 'Tue', 'Thu', 'Wed'}

set

#### Updating Sets

In [4]:
days = {"Mon", "Tue", "Wed"} # Declaration of new set variable
days.add("Thu")
print(days)
# In this code we are using the add() to add an element
# to the set days

{'Wed', 'Mon', 'Tue', 'Thu'}

In [5]:
days.update(['Fri', 'Sat', 'Tue']) # we use the update() method to add distinct
# elements to the set.
print(days)

{'Mon', 'Thu', 'Wed', 'Tue', 'Fri', 'Sat'}

In [6]:
days.remove('Mon') # we use remove() method to remove an element from a
# set
print(days)

{'Thu', 'Wed', 'Tue', 'Fri', 'Sat'}

In [8]:
days.pop() # we use pop() method to remove an element in the set
print(days)
# The element to be removed is not guaranteed since sets are unordered

{'Tue', 'Fri', 'Sat'}

In [9]:
days.clear() # the clear() method empties the set
print(days)

set()

## Dictionaries

In [55]:
my_cat = {
    'name':'Fluffy',
    'age': 2,
    'color': 'black'
} # dictionaries come in pair of values
# The format of a dictionary is 'key':'value'

In [40]:
type(my_cat) # this line of code checks to see if
# the varibale my cat is a dictionary

dict

In [ ]:
dir(my_cat) # this line of code tells us what methods we can use on
# our dictionary varibale my_cat

In [42]:
print(my_cat['name']) # this line of code prints the value from
# the key 'name'

Fluffy

In [43]:
print(my_cat.get('age'))
# This line of code prints the value 2 from the key age in the dictionary

2

In [44]:
print(my_cat.values())
# This line of code prints the values defined in the dictionary my_cat

dict_values(['Fluffy', 2, 'black'])

In [45]:
print(my_cat.keys())
# This line of code prints the keys defined in the dictionary my_cat

dict_keys(['name', 'age', 'color'])

In [46]:
my_cat # this line of code prints the whole dictionary

{'name': 'Fluffy', 'age': 2, 'color': 'black'}

In [47]:
print(my_cat.items()) # this line of code prints the individual
# elements in the dictionary

dict_items([('name', 'Fluffy'), ('age', 2), ('color', 'black')])

In [48]:
print('name' in my_cat)
# This line of code print if there's an item called 'name' in my_cat

True

In [49]:
print('fluffyness' in my_cat)
# This line of code prints if there's an item called
# fluffyness in the dictionary my_cat

False

#### Updating Dictionaries function

In [56]:
print(my_cat)
my_cat['gender'] = 'male' # this line of code adds an item, key and value
# in the dictionary my_cat
print(my_cat)

{'name': 'Fluffy', 'age': 2, 'color': 'black'}
{'name': 'Fluffy', 'age': 2, 'color': 'black', 'gender': 'male'}

In [57]:
my_cat.pop('color')
print(my_cat)
# We use pop() method to remove an item from the dictionary
# removing the key and its value

{'name': 'Fluffy', 'age': 2, 'gender': 'male'}

In [58]:
my_cat.popitem() ## removes the last item in a dictionary
print(my_cat)

{'name': 'Fluffy', 'age': 2}

In [59]:
my_cat['name'] = 'Fluffer'
print(my_cat)
# This line of code updates the value of the key 'name' in
# the dictionary my_cat

{'name': 'Fluffer', 'age': 2}

#### Nesting Dictionaries

In [61]:
family = {
    "child1": {
        'name': 'Alex',
        'year': 2004
    },
    'child2': {
        'name': 'Monica',
        'year': 2007
    }
}
# You can define a dictionary in another dictionary which
# create a nested dictionary

In [62]:
family

{'child1': {'name': 'Alex', 'year': 2004},
 'child2': {'name': 'Monica', 'year': 2007}}