<a href="https://colab.research.google.com/github/koffisonV/TTP-summer-23/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Basics

## Strings and print() function

In [ ]:
print ('Hi there')
# In this line I am using the print() method to print "hi there"

Hi there

In [ ]:
print("There are two types of slashes: \\ and /")
# In this line, I am using the \ as an escape character reason why there is only one \ showing

There are two types of slashes: \ and /

In [ ]:
print("\n\tThis is a tabbed line\nThis is a regular line")
# In this code, we add an n to \ representing a new line. It is followed by \t where "t" stands for tab. Same applies for the second
# sentence where we use \n which signals to go to a new line and "n" standing for "new"

	This is a tabbed line
This is a regular line

In [ ]:
print("first name" + ' last name')
# In this line, we use the + symbol to combine "first name" and "last name" into one sentence

first name last name

## Variables

In [5]:
dogs = 3
cats = 'Many fluffy cats'
# In this part, we are defining a value by giving it a meaning or name. The meaning can be either words, sentences, or numbers.

In [6]:
cats
# In this line, we are calling the value cats which we defined ^above^, and prints it to the screen

'Many fluffy cats'

In [ ]:
type(cats)
# In this line, we are using the type() function so that the computer tells us what type of information this is
# In this case, cats which we defined earlier, is a string because it is made of words.

str

In [ ]:
type(dogs)
# In this line we used the type() function to tell us what this variable is made of
# The result is printed to the screen indicating that the varible dogs is made of numbers.

int

In [8]:
hi = 'Hello'
name = ' John'
print(hi + name)
# In this code, we defined 2 varibles and gave them the name hi & name. Since both varibales are made of words (string), we use the + 
# symbol to combine both varibales into 1 long sentence which gives the sentence "Hello John"

Hello John

In [ ]:
more_dogs = 5
# In this line, we created another varibales named more_dogs and gave it the number 5.

print(dogs + more_dogs)
# In this line, we are adding two values, dogs which we defined earlier and gave it the number 3, and more_dogs which eqauls to 5.
# By adding dogs and more_dogs, or 5 + 3, we get 8 which is printed on the screen.

8

In [ ]:
price = 19.99
amount = 3
# In this line, we defined two variables price holding the price of an object and the amount of an object.

In [ ]:
print(price * amount)
# We use the print function with the * sign to signal that we want to multiply both values which gives us 59.97 just like we would do with a calculator.

59.97

In [ ]:
# Variable re-assignment
dogs = "New value"
print(dogs)
# In this lines, we assigned a value of number 5 to the variable dogs earlier, but now, we assign
# a new value to the variable dogs which is now a string or a short sentence that says "New value"

New value

In [9]:
cats, dogs, rabbits = 2, 5, 'cute'

print(dogs)
print(rabbits)
# In this code, we defined multiple variables and assigned their values in order. Since the variable dogs is in the second
# position and the second value assigned is the number 5, the print statement will return 5.

5
cute

## More Strings

### Indexing

In [11]:
greeting = 'Hello world!'
# In this line we created the variable greeting and assinged the value "Hello world!"

In [12]:
greeting
# In this line, we requested the computer to print the value of the variable greeting which gives us "Hello world!"

'Hello world!'

In [13]:
print(greeting[4])
# In this line, we are print the position of the character that is found in the 4th place of the short sentence "Hello world!" where o is the 4th character.

o

In [16]:
# The 3rd, the 5th, and/or the 15th
word = "This is what a full sentence looks like"
print(word[3])
print(word[5])
print(word[15])
# In this code, we followed the same example that we did above by printing the character that is found at the 3rd, 5th, and 15th place in the sentence.

s
i
f

In [ ]:
len(word)
# In this line, we use the len() to print the length of a variable. In this case, the sentence ^above^ is made of 39 characters including the spaces.

39

## String Formatting

In [18]:
price = 59.99
# In this line, we created a variable names price and gave it the value 59.99

In [19]:
message = 'The product cost ' + str(price) + ' dollars'
# In this line, we created another varibale named message where we used the + symbol to add another element to the variable message.
# In this case we covered price in str to treat the variable price as a string or text instead of number because we will get an error if
# we try to add variables that are not the same.

In [20]:
message
# Once we constructed our variable in the code ^above^, we make a call for the variable message which prints the sentence
# 'The product cost 59.99 dollars'

'The product cost 59.99 dollars'

#### The .format() method!

In [ ]:
msg = "The product cost {} dollars".format(price)
# In this line, we use the format method to call a variable that we don't want to type out everything we want to
# write a line like this. Instead, we replace the {} in the content of the new varible.

In [ ]:
msg
# Here, we printed the content of the variable msg.

'The product cost 59.99 dollars'

In [22]:
amount = 3
total = amount * price
# In this code, we defined a new variable called amount and gave it a value of 3.
# Next, we multiply amount with the variables price which we created eariler and stored them in a new variable called total.

In [25]:
msg2 = "For {} products at the price of {}, the total will be: {}"
# In this code, we show where we want to put some varaiables in the sentence by using {}.

In [26]:
print(msg2.format(amount, price, total))
# In this line, we use the print function where we pass the format() function to msg2 by assigning the stating the values that we want to
# use like in this case, the values amount, price, and total.

For 3 products at the price of 59.99, the total will be: 179.97

In [27]:
msg3 = "For {0} products at the price of {1}, the total is: {2}"
print(msg3.format(amount, price, total))
# In this line, we are printing the same thing as the code above^, however this time, we are mentioning the order in which we want the
# computer to collect the values by putting the position of the variables in the msg3 message.

For 3 products at the price of 59.99, the total is: 179.97

#### The f-string Method!

In [28]:
price = 19.99
items = 3
# In this code, we created 2 variables named price and items

In [29]:
msg = f'This individual product is {price}'
# In this line, we us the f to say that this is a f-string where we will insert a variables later by using {}.
# This will help us maintain the structure of this varible by only changing the varible inside of {}.

In [30]:
msg
# In this line we make a call to the variable msg which prints "This individual product is 19.99"

'This individual product is 19.99'

In [32]:
msg2 = f'The total for your purchase is {price * items}'
msg2
# In this line we used the f-string format again however we passed 2 variables for multiplication
# Then call for the variable msg2 printing the text "The total for your purchase is 59.97" where 59.97 is the total after the multiplication operation.

'The total for your purchase is 59.97'